block config
    - var pageTitle = 'Toast Grids ToGo'
    - var name = 'Jordan'
    - var age = 30
    - var fruitBowl = ['banana', 'apple', 'mango']
    - var wloop = 1
    - var currentPage = ''

doctype
html(lang="en")
    // This comment will appear in compiled HTML.
    //- This comment will not appear in compiled HTML.
    head
        title #{pageTitle}
        link(rel="stylesheet",href="css/app.css")

    body
        //- Class names imply a div element at compile.
        nav
            block navigation

        .container
            .row
                //- "block" specifies an area that can be edited when the .pug is called in another file with "extends".
                .column#header(data-name="box", custom-attr="whatevs" )
                    block header
                        p I'm the default header content in layout.pug.
        .container
            .row
                .column#main
                    block main
                        p I'm the default main area in layout.pug.
        .container
            .row
                .column#products
                    block products
                        h1 Default Block
                        p This block came from the original tempalate, layout.pug. You can use the products mixin here.
